/*body {
    font-family: Verdana, Helvetica, sans-serif;
     background-color: #FFFFCC;
    background-color: #00CC7A;
}*/

.shubcolor {
	background: "#FF99AF"
}

div.col-lg-8.col-lg-offset-2 {
	margin-bottom: 10em;
}

.mainPage {
	width: 800px;
	margin:0 auto auto auto;
	height: 100%;
	padding:20px;
	background: rgba(128, 128, 128, 0.7);
}

.socialTextArea {
	display:none;
	position:absolute;
}

#fbCheckbox:checked + #fbText {
	display:block;
}

#twitterCheckbox:checked + #twitterText {
	display:block;
}

input[type="submit"]  {
color: black;
}

input[type="text"]  {
color: black;
}

textarea[type="text"] {
color: black;
}

div.col-xs-6.col-md-6.mg-btm-2 {
	position: absolute;
	bottom: 1em;
}

/*
.facebookInfo {
	margin:auto 400 auto auto;
}

.twitterInfo {
	margin:auto auto auto 400;
}
*/