/*body {
    font-family: Verdana, Helvetica, sans-serif;
     background-color: #FFFFCC;
    background-color: #00CC7A;
}*/

.mainPage {
	width: 600px;
	margin:0 auto auto auto;
	padding:20px;
	background: rgba(128, 128, 128, 0.7);
}

.socialTextArea {
	display:none;
}

#fbCheckbox:checked + #fbText {
	display:block;
}

#twitterCheckbox:checked + #twitterText {
	display:block;
}

input[type="submit"]  {
color: black;
}

input[type="text"]  {
color: black;
}
