/*body {
    font-family: Verdana, Helvetica, sans-serif;
     background-color: #FFFFCC;
    background-color: #00CC7A;
}*/

.center {
    margin: 10px -46px; 
    position:relative;
    top:50%; 
    left:50%;
}

.theme-text {
	color: #FF99AF;
}

.backgroundImage_FlowersAndSky {
	background: url("./img/flowers_and_sky.jpg");
	background-size: cover;
}

.backgroundImage_Grassbells {
	background: url("./img/grassbells.jpg");
	background-size: cover;
}

.backgroundImage_Bridgewater {
	background: url("./img/bridgewater.jpg");
	background-size: cover;
}

.backgroundImage_Cascades {
	background: url("./img/cascades.jpg");
	background-size: cover;
}

.backgroundImage_Plane_Zealand {
	background: url("./img/plane_zealand.jpg");
	background-size: cover;
}

.backgroundImage_Ripples {
	background: url("./img/ripples.jpg");
	background-size: cover;
}

.backgroundImage_Sunset {
	background: url("./img/sunset.jpg");
	background-size: cover;
}

.backgroundImage_Web {
	background: url("./img/web.jpg");
	background-size: cover;
}

.margin-bottom-8em {
	margin-bottom: 8em;
}

div.container.body {
    border-radius: 1em;
    background: rgba(26, 26, 26, 0.9);
    position: relative;
    /* margin-bottom: 10em; */
    height: auto;
    /* height: auto; */
    /* overflow: overlay; */
}

div.transparent-container {
	background:transparent;
	padding-top: 25px;
}

div.theme.container {
    border-radius: 1em;
    background: #FF99AF;
    position: relative;
    width: auto;
    padding: 10px;
    /* margin-bottom: 10em; */
    /* height: auto; */
    /* overflow: overlay; */
}

div.post-top {
    position: relative;
}
div.post-bottom {
    position: relative;
    /* width: initial; */
    height: 100%;
    /* overflow-y: visible; */
    overflow: auto;
    /* bottom: 2em; */
}

div.post-bottom {
    position: relative;
    /* width: initial; */
    height: 100%;
    /* overflow-y: visible; */
    overflow: auto;
    /* bottom: 2em; */
}

section#SignedIn {
    height: auto;
    position: relative;
}

section#Settings {
    height: auto;
    position: relative;
}

.shubcolor {
	background: "#FF99AF"
}

.shubTheme {
	background: #FF99AF;
}


div.col-lg-8.col-lg-offset-2.theme-container {
	margin-bottom: 10em;
	border-radius: 1em;
    background: #FF99AF;
    position: absolute;
    width: auto;
}

div.col-lg-8.col-lg-offset-2 {
	margin-bottom: 10em;
}



.mainPage {
	width: 800px;
	margin:0 auto auto auto;
	height: 100%;
	padding:20px;
	background: rgba(128, 128, 128, 0.7);
}

.socialTextArea {
	display: block;
	visibility: hidden;
}

#fbCheckbox:checked + #fbText {
	display:block;
	visibility: visible;
	width: 90%;
}

#twitterCheckbox:checked + #twitterText {
	display:block;
	visibility: visible;
	width: 90%;
	margin-left: 1.6em;	
}

#fbEditCheckbox:checked + #fbEditText {
	display:block;
	visibility: visible;
	width: 90%;
	position: relative;
}

#twitterEditCheckbox:checked + #twitterEditText {
	display:block;
	visibility: visible;
	width: 45%;
	margin-left: 1.6em;	
	position: relative;
}

input[type="submit"] {
	color: black;
}

input[type="text"] {
	color:black;
}

input[type="password"]  {
	color: black;
}

textarea[type="text"] {
	color: black;
}

div.col-xs-6.col-md-6.mg-btm-2 {
	position: absolute;
	/*bottom: 1em;*/
}

div.col-xs-6.col-md-6.mg-btm-2.theme-container {
	position: absolute;
	border-radius: 1em;
    background: #FF99AF;
    position: relative;
    width: auto;
	/*bottom: 1em;*/
}

/*
.facebookInfo {
	margin:auto 400 auto auto;
}

.twitterInfo {
	margin:auto auto auto 400;
}
*/